 body {
   padding-left: 13em;
   font-family: Georgia, "Times New Roman",
          Times, serif;
    color: black;
    background-color: white;
    background-image: url("nissan.jpeg");
    background-attachment: scroll; /* Le fond restera fixe */
    background-repeat: no-repeat; /* Le fond ne sera pas répété */
    background-position: top right; /* Le fond sera placé en haut à droite */ }
    
    
ul.navbar {
      list-style-type: none;
    padding: 1em;
    margin-left: 1em;
    position: absolute;
    top: 2em;
    left: 1em;
    width: 9em }
    
    
h1 {
    font-family: Helvetica, Geneva, Arial,
          SunSans-Regular, sans-serif;
    color: red }
          
          
ul.navbar li {
    list-style-image: url("puce.png");
    background: white;
    margin: 3em 1;
    padding: 0.3em;
    /*border-right: 1em solid black*/ }
    
    
ul.navbar a {
    text-decoration: none }
    
    
a:link {
    color: blue }
    
    
a:visited {
    color: purple }
    
    
address {
    margin-top: 1em;
    padding-top: 1em;
    border-top: thin dotted }
    
.centrer {

  border: none;           /* Ne pas entourer les images, même s'ils contiennent des liens */
 /* vertical-align: middle;*/
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.TestNissan{

  vertical-align: middle;
  display: inline-block;
  /*width: ;
  height: ;*/

}

.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5em;
    width: 700;
    height: 800 }
    
object.place{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5em }
